<div v-el:modal id="octgn-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">The Spoils on OCTGN</h4>
			</div>
			
			<div class="modal-body">
				<h3 style="margin-top: 0">Installation</h3>
				<ol>
					<li>Download and install <a target="_blank" href="http://octgn.net/">OCTGN</a>.</li>
					<li>In OCTGN, click on the <strong>Games Manager</strong> tab.</li>
					<li>You should be able to find The Spoils in the official game feed. Just press install.</li>
				</ol>

				<h3>Adding Image Packs</h3>
				<ol>
					<li>Download the image packs below.</li>
					<li>In OCTGN, click on the <strong>Games Manager</strong> tab.</li>
					<li>Click on the <strong>Add Image Packs</strong> button and select the downloaded files.</li>
				</ol>

				<ul>
					<li><a href="/files/Open Beta.o8c">Open Beta.o8c</a></li>
					<li><a href="/files/1st Edition.o8c">1st Edition.o8c</a></li>
					<li><a href="/files/1st Edition Part 2.o8c">1st Edition Part 2.o8c</a></li>
					<li><a href="/files/Seed.o8c">Seed.o8c</a></li>
					<li><a href="/files/Seed 2.o8c">Seed 2.o8c</a></li>
					<li><a href="/files/Seed 3.o8c">Seed 3.o8c</a></li>
					<li><a href="/files/2nd Edition.o8c">2nd Edition.o8c</a></li>
					<li><a href="/files/Shade of the Devoured Emperor.o8c">Shade of the Devoured Emperor.o8c</a></li>
					<li><a href="/files/Holy Heist.o8c">Holy Heist.o8c</a></li>
					<li><a href="/files/Seed Saga.o8c">Seed Saga.o8c</a></li>
					<li><a href="/files/Ungodly Mess.o8c">Ungodly Mess.o8c</a></li>
				</ul>

				<h3>Starting a Limited Game</h3>
				<ol>
					<li>Start a game of The Spoils normally. Notice that another instance of OCTGN has appeared in your task bar at this point.</li>
					<li>The option to start a Limited Game is found under the "Game" menu.</li>
					<li>Choose the packs you'd like to use.</li>
					<li>Construct your deck, save it on your computer and press "Load Cards".</li>
					<li>Your limited deck is now loaded but doesn't contain any faction or resources.</li>
					<li>Load your deck in the "Deck Editor" using the previous instance of OCTGN, add the faction and resources you wish to use and save your deck.</li>
					<li>In the other running OCTGN instance (from which you started the Limited Game), load your deck you saved in the previous step and you are ready to go!</li>
				</ol>
			</div>
		</div>
	</div>
</div>