<div>
	<navigation active="mine"></navigation>

	<div class="col-xs-4">
		<table class="table table-hover table-condensed">
			<tbody>
				<tr v-for="deck in decks">
					<td>
						<h4>
							<span><a v-link="'/deck-builder/' + deck.id">{{ deck.name }}</a></span>
							<span class="pull-right">{{{ deck.threshold | threshold }}}</span>
						</h4>
						<div>
							<submit-button
								v-show="deck.published"
								class="btn btn-sm btn-warning"
								@click="unpublish($event, deck)"
								icon="fa fa-share fa-flip-horizontal"
								text="Unpublish">
							</submit-button>

							<submit-button
								v-show="!deck.published"
								class="btn btn-sm btn-success"
								@click="publish($event, deck)"
								icon="fa fa-share"
								text="Publish">
							</submit-button>

							<submit-button
								class="btn btn-sm btn-danger"
								@click="trash($event, deck)"
								icon="fa fa-trash"
								text="Trash"
							></submit-button>

							<div style="margin-top: 10px">
								<small><strong>Created:</strong> <span>{{ deck.created_at | time 'LLLL' }}</span></small><br>
								<small v-if="deck.updated_at"><strong>Updated:</strong> <span>{{ deck.updated_at | time 'LLLL' }}</span></small>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
			<caption class="lead text-center" style="padding: 0">My Decks</caption>
		</table>

		<view-more path="/decks/mine" @result="viewmore"></view-more>
	</div>
</div>