<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>The Spoils Toolbox</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="The Spoils CCG Database">
		<meta name="keywords" content="the spoils, ccg, tcg, database">

		<link rel="icon" type="image/png" href="/img/icons/universal.png">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
		<script>
			var ENVS = JSON.parse('<%- JSON.stringify(ENVS) %>');
			var RND = "<%=RND%>";
			
			NProgress.configure({
				"trickleRate": 0.1,
				"speed": 200
			});
		</script>
	</head>

	<body>
		<div id="application" class="container-fluid" style="opacity: 0"></div>
	</body>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.29/system.js"></script>
	<script src="jspm.browser.js?<%=RND%>"></script>
	<script src="jspm.custom.js?<%=RND%>"></script>
	<script src="jspm.config.js?<%=RND%>"></script>
	<script src="js/app.min.js?<%=RND%>"></script>
	<script>System.import("js/boot.js");</script>
	<script>
		NProgress.start();
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-42398182-1', 'auto');
		ga('send', 'pageview');
	</script>
</html>
