<div>
	<img src="/img/header.jpg" class="img-header img-responsive">

	<card-search-form projection="simple" @result="card_search_result"></card-search-form>

	<div class="card-gallery">
		<img v-for="card in cards" :data-src="'/img/cards/' + card.id + '.jpg'" @click="show(card)" class="lazy card-image img-rounded cursor-pointer" src="/img/cardback.jpg">
	</div>

	<card-modal v-ref:modal></card-modal>
</div>