body {
	/* This is required because we have a fixed navbar */
	padding-top: 		80px;
}

a {
	cursor: 			pointer;
}

.fade-transition {
	transition: 		opacity .2s ease;
}

.fade-enter, .fade-leave {
	opacity: 			0;
}

.news {
	max-width: 			640px;
}

.img-header {
	margin:				0 auto;
}

.card-search-form {
	float:				none;
	margin-left:		auto;
	margin-right:		auto;
	max-width:			640px;
}

.card-modal {
	width:				640px;
}

.modal-small {
	max-width:			400px;
}

.preload-card-back {
	background: 		url("/img/cardback.jpg") no-repeat -9999px -9999px;
}

.card-image {
	margin: 			0 2px 4px 2px;
	width:				300px;
	height:				420px;
}

.card-gallery {
	text-align:			center;
	clear: 				both;
}

.cursor-pointer {
	cursor:				pointer;
}

.cursor-image {
	top:				-9999px;
	left:				-9999px;
	width:				300px;
	height:				420px;
	position:			absolute;
	z-index: 			9999;
}

.no-resize {
	resize:				none;
}

.tab-pane {
	padding:			20px 0 0 0;
}

.plus-icon,
.minus-icon {
	width:				20px;
	cursor:				pointer;
}

/* Chart settings */

.cost-chart,
.threshold-chart,
.trade-chart,
.type-chart {
	width:				250px;
	height:				250px;
}
