<div class="card-search-form">
	<form v-el:form id="card-search-form" method="post" action="/cards/search" @submit.prevent="search">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group pull-left" style="width: 48%">
					<select name="filters" multiple placeholder="Filters...">
						<optgroup label="Format">
							<option value="block">Block</option>
							<option value="current">Current</option>
							<option value="chronicles">Chronicles</option>
						</optgroup>
						<optgroup label="Trade">
							<option value="arcanist">Arcanist</option>
							<option value="banker">Banker</option>
							<option value="gearsmith">Gearsmith</option>
							<option value="rogue">Rogue</option>
							<option value="warlord">Warlord</option>
							<option value="universal">Universal</option>
						</optgroup>
						<optgroup label="Type">
							<option value="character">Character</option>
							<option value="faction">Faction</option>
							<option value="item">Item</option>
							<option value="location">Location</option>
							<option value="resource">Resource</option>
							<option value="tactic">Tactic</option>
						</optgroup>
						<optgroup label="Set">
							<option value="4cfa2281-3bd5-44f5-950a-9b01c03cd1f2">Open Beta</option>
							<option value="4ac7aece-6ee1-4882-87ed-9c46057a4143">1st Edition</option>
							<option value="ae25f58d-5411-42d1-a207-ac6a5303264b">1st Edition Part 2</option>
							<option value="abf7b04c-55cd-4f21-b02b-dc403a04c128">Seed</option>
							<option value="c5f8daaf-62f5-4f95-a905-53e98d439f22">Seed 2</option>
							<option value="b6c94ada-f56e-41e5-80d0-c90186e23459">Seed 3</option>
							<option value="b14b4b95-77aa-4f69-96b6-ca09b77ad946">2nd Edition</option>
							<option value="b553d26a-a953-4b49-9d97-682f3a48114c">Shade of the Devoured Emperor</option>
							<option value="74be93a3-2f0f-44cc-9162-fbd6e5b42ef5">Holy Heist</option>
							<option value="9387948c-0356-40a8-897d-16978ff9fea9">Seed Saga</option>
							<option value="2fc61d6d-a080-4f4c-956b-8d5e518eeb76">Ungodly Mess</option>
						</optgroup>
						<optgroup label="Rarity">
							<option value="common">Common</option>
							<option value="uncommon">Uncommon</option>
							<option value="rare">Rare</option>
							<option value="uber">Uber</option>
							<option value="fixed">Fixed</option>
							<option value="super-rare">Super Rare</option>
							<option value="ultra-rare">Ultra Rare</option>
						</optgroup>
					</select>
				</div>

				<div class="form-group pull-right" style="width: 48%">
					<select name="options" multiple placeholder="Options...">
						<optgroup label="General">
							<option value="include_alt_art">Include alternative art</option>
							<option value="include_reprints">Include all reprints</option>
							<option value="include_bans">Include banned cards</option>
							<option value="include_specials">Include special cards</option>
						</optgroup>
						<optgroup label="Sort">
							<option value="sort_by_cost">Sort by cost</option>
							<option value="sort_by_threshold">Sort by threshold</option>
							<option value="sort_by_strength">Sort by strength</option>
							<option value="sort_by_life">Sort by life</option>
							<option value="sort_by_speed">Sort by speed</option>
							<option value="sort_by_structure">Sort by structure</option>
						</optgroup>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-btn">
							<button @click="open_info" class="btn btn-info" type="button"><span class="glyphicon glyphicon-question-sign"></span></button>
						</div>
						<input name="query_string" class="form-control" type="text" placeholder="Search" v-model="query_string">
						<span class="input-group-btn">
							<submit-button v-ref:submit_button icon="glyphicon glyphicon-search"></submit-button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<card-search-help v-ref:modal @example-clicked="search_example"></card-search-help>
