<td @mousemove="$parent.show_card($event, stack.card.id)" @mouseleave="$parent.hide_card">
	<span>{{{ stack.card.cost | cost }}} {{{ stack.card.threshold | threshold }}}</span>
	{{ stack.card.name }}
	<img src="/img/icons/plus.png" class="plus-icon pull-right" @click="$parent.add_card(stack.card)">
	<img src="/img/icons/minus.png" class="minus-icon pull-right" @click="$parent.remove_card(stack.card)">
	<span class="badge pull-right" style="margin: 0 5px 0 0">{{ stack.copies }}</span>
</td>